[Unit]
Description=Emacs text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/

[Service]
Type=forking
EnvironmentFile=%h/.bdwconfig
PassEnvironment=SSH_AUTH_SOCK BDW_CONFIG_TYPE
ExecStart=-/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Restart=on-failure

[Install]
WantedBy=default.target
