# Starts ssh-agent in user mode
# this per-user process is started when user logs in for first time,
# and stops when last session for use is closed
#

[Unit]
Description=SSH key agent

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket

# start in foreground mode (-D), systemd takes care of running in background
ExecStart=-/usr/bin/ssh-agent -D -a $SSH_AUTH_SOCK

# stop using $MAINPID, provided by systemd
ExecStop=/bin/sh -c "SSH_AGENT_PID=$MAINPID /usr/bin/ssh-agent -k"

[Install]
WantedBy=default.target
