[Unit]
Description=Start tmux in detached session

[Service]
Type=forking
EnvironmentFile=%h/.bdwconfig
PassEnvironment=SSH_AUTH_SOCK BDW_CONFIG_TYPE
ExecStart=/usr/bin/tmux new-session -s %u -d
ExecStop=/usr/bin/tmux kill-session -t %u
Restart=always

[Install]
WantedBy=default.target
